{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_label(form.price) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.price) }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_label(form.category) }}
            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.category) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_label(form.tags) }}
            {{ form_widget(form.tags, {'attr': {'class': 'form-control select-tags'}}) }}
            {{ form_errors(form.tags) }}
            <small class="form-text text-muted">Sélectionnez un ou plusieurs tags</small>
        </div>
    </div>
    
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}