{% extends 'base.html.twig' %}

{% block title %}Manga index{% endblock %}

{% block body %}
    <h1>Manga index</h1>
    <div class='mb-4 text-end'>
        <a class='btn btn-info text-white' href="{{ path('app_manga_new') }}">Create new</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Category</th>
                <th>Tags</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for manga in mangas %}
            <tr>
                <td>{{ manga.id }}</td>
                <td>{{ manga.title }}</td>
                <td>{{ manga.price }}</td>
                <td>{{ manga.category.label }}</td>
                <td>
                    {% if manga.tags|length > 0 %}
                        {% for tag in manga.tags %}
                            <span class="badge bg-secondary">{{ tag.name|capitalize }}</span>
                        {% endfor %}
                    {% else %}
                        <em>-</em>
                    {% endif %}
                </td>
                <td>{{ manga.createdAt ? manga.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_manga_show', {'id': manga.id}) }}" class="btn btn-sm btn-info text-white">show</a>
                    <a href="{{ path('app_manga_edit', {'id': manga.id}) }}" class="btn btn-sm btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}